elxa2-salesforcebackup-dev001/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "elxa2-salesforcebackup-dev001"
		},
		"ls_elxa3nsdev0001_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_elxa3nsdev0001'"
		},
		"ls_salesforce_teste_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_salesforce_teste'"
		},
		"ls_salesforce_teste_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'ls_salesforce_teste'"
		},
		"ls_kv_salesf_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://elxkv-salesf-dev001.vault.azure.net/"
		},
		"ls_salesforce_teste_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://electroluxla--elux.sandbox.my.salesforce.com"
		},
		"ls_salesforce_teste_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "svc-storage-azure@electrolux.com.elux"
		},
		"ls_to_blobstorage_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "cstosa-dv-secret"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_kv_salesf')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_kv_salesf_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/irSales')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Brazil South",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 16,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4300720544875532.12.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_kv_salesf",
							"type": "LinkedServiceReference"
						},
						"secretName": "databricks-token-sf",
						"secretVersion": "5fd8a4a9b7c7445da5de2ae683155f2b"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "2:8",
					"newClusterVersion": "11.3.x-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Autoscaling"
				},
				"connectVia": {
					"referenceName": "irSales",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/irSales')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_kv_salesf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_elxa3nsdev0001')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_elxa3nsdev0001_connectionString')]"
				},
				"connectVia": {
					"referenceName": "irSales",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/irSales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_salesforce_teste')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('ls_salesforce_teste_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('ls_salesforce_teste_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_salesforce_teste_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('ls_salesforce_teste_securityToken')]"
					},
					"apiVersion": "54.0"
				},
				"connectVia": {
					"referenceName": "irSales",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/irSales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_to_blobstorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_kv_salesf",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('ls_to_blobstorage_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_kv_salesf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_elxa3nsdev0001')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_to_blobstorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pdate": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().pdate",
							"type": "Expression"
						},
						"container": "backup"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_to_blobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_elxa3nsdev0001_config')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_to_blobstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "items.csv",
						"container": "config"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "item",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_to_blobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_elxa3nsdev0001_p')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_to_blobstorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pdate": {
						"type": "string"
					},
					"vdesc": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().vdesc",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().pdate",
							"type": "Expression"
						},
						"container": "backup"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_to_blobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_salesforce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_salesforce_teste",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"item": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": {
						"value": "@dataset().item",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_salesforce_teste')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ppl_salesforce_backup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Notebook_create_database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_elxa3nsdev0001_config",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "copy_product",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceSource",
											"readBehavior": "query"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_salesforce",
											"type": "DatasetReference",
											"parameters": {
												"item": {
													"value": "@item().item",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_elxa3nsdev0001_p",
											"type": "DatasetReference",
											"parameters": {
												"pdate": {
													"value": "@concat(substring(variables('vdate'),0,4),substring(variables('vdate'),5,2),substring(variables('vdate'),8,2))",
													"type": "Expression"
												},
												"vdesc": {
													"value": "@item().item",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Notebook1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "copy_product",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/adm-weigesan@electrolux.com/Salesf_backup",
										"baseParameters": {
											"ptable": {
												"value": "@item().item",
												"type": "Expression"
											},
											"pdata": {
												"value": "@concat(substring(variables('vdate'),0,4),substring(variables('vdate'),5,2),substring(variables('vdate'),8,2))",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Set variable Data",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vdate",
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Notebook_create_database",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set variable Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/adm-weigesan@electrolux.com/Salesf_createdatabase",
							"baseParameters": {
								"pdata": {
									"value": "@concat(substring(variables('vdate'),0,4),substring(variables('vdate'),5,2),substring(variables('vdate'),8,2))",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"vdate": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-30T17:12:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_elxa3nsdev0001_config')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks')]",
				"[concat(variables('factoryId'), '/datasets/ds_salesforce')]",
				"[concat(variables('factoryId'), '/datasets/ds_elxa3nsdev0001_p')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ppl_salesforce_backup",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-03-31T00:10:00",
						"timeZone": "E. South America Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ppl_salesforce_backup')]"
			]
		}
	]
}